h1{
	font-size: 30px;
	color: salmon;
}
h2{
	font-size: 30px;
	color: darkblue;
}
.small{
	font-size: 10px;
}
.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}